.nav{
	width: 100%;
	height: 37px;
	background: #34495E;
}
.nav_center{
	width: 1198px;
	height: 37px;
	margin: 0 auto;
}
.nav_center a{
	float: right;
	line-height: 37px;
	font-size: 14px;
	color: #fff;
}
.nav_center a:hover{
	color: #F79B03;
}
.nav_center img{
	float: right;
	margin-top: 10px;
	margin-right: 30px;
}
.nav_center h1{
	float: right;
	line-height:37px;
	margin-right: 16px;
	font-size: 14px;
	color: #fff;
}
.nav_center h1 span{
	color: #F79B03;
}
.header{
	width: 100%;
	height: 60px;
	background: #fff;
}
.header_center{
	width: 1198px;
	height: 60px;
	margin: 0 auto;
}
.header_center img{
	margin-top: 19px;
	float: left;
}
.header_center ul{
	float: right;
	margin-top: 30px;
}
.header_center ul li{
	float: left;
	color: #333333;
	font-size: 16px;
	margin-left: 28px;
	cursor: pointer;
}
.header_center ul li:hover a{
	color: #00BFFF;
}
.header_center ul li.active a{
	color: #00BFFF;
}
.content{
	width: 1198px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 70px;
	background: #fff;
	overflow: hidden;
}
.content h1{
	width: 208px;
	height: 65px;
	background: #00BFFF;
	font-size: 16px;
	line-height: 65px;
	text-align: center;
	color: #fff;
}
.footer{
	width: 100%;
	height: 50px;
	background: #fff;
	text-align: center;
	line-height: 50px;
	margin-top: 35px;
	color: #393939;
	font-size: 14px;
	position: fixed;
	left: 0px;
	bottom: 0px;
}
.content iframe{
	border: none;
	width: 1198px;
}
.nav_wrap{
	width: 208px;
	border-right: 1px solid #e7e8eb;
	float: left;
}
.nav_left li{
	width: 208px;
    height: 56px;
    background: #FFF;
    font-size: 16px;
    line-height: 65px;
    text-align: center;
    color: #666666;
    border-bottom: 1px solid #E7E7EB;
    cursor: pointer;
}
.nav_left li.first{
	color: #00BFFF;
}
.nav_wrap h1{
	cursor: pointer;
}
.cont_wrap{
	width: 950px;
	float: right;
	background: #fff;
	padding-bottom: 30px;
}
/* 财务管理 => 交易查询 => 遮罩 Start */
.back{
	background: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	left: 0px;
	z-index: 999;
	width: 100%;
}
.middle,.middle_two,.middle_three{
	width: 860px;
	height: 300px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -430px;
	margin-top: -155px;
	background: #fff;
	border-radius: 14px;
}
.middle_top{
	width: 860px;
	height: 50px;
	background: #EEEEEE;
	border-radius: 14px 14px 0 0;
}
.middle_top>p{
	line-height: 50px;
	font-size: 18px;
	color: #6E6E6E;
	text-indent: 88px;
	float: left;
}
.middle_top>img{
	float: right;
	margin-right: 45px;
	margin-top: 15px;
}
.middle_m{
	width: 700px;
	height: 45px;
	margin-top: 40px;
	margin-left: 88px;
	position: relative;
}
.middle_m>p{
	float: left;
	font-size: 14px;
	color: #333;
	line-height:30px; 
}
.middle_m>p>span{
	margin-left: 20px;
}
.middle_mm{
	width: 700px;
	height: 45px;
	margin-left: 88px;
}
.middle_mm>p{
	float: left;
	font-size: 14px;
	color: #333;
	line-height:40px; 
}
.middle_mm>input{
	width: 200px;
	height: 38px;
	margin-left: 20px;
	border: solid 1px #E7E7EB;
	color: #999;
	text-indent: 15px;
}
.middle_bottom{
	position: absolute;bottom: 0;
	left: 0;
	width: 860px;
	height: 58px;
	background: #EEEEEE;
	border-radius: 0 0 14px 14px;
}
.middle_bottom>p{
	width: 110px;
	height: 40px;
	background: #08C1FF;
	color: #fff;
	text-align: center;
	line-height: 40px;
	margin: auto;
	margin-top: 9px;
	font-size: 14px;
	cursor: pointer;
}
.middle_two>img,.middle_three>img{
	margin-top: 40px;
	display: block;
	margin-left: 370px;
}
.middle_two>h3,.middle_three>h3{
	font-size: 24px;
	color: #333;
	line-height: 55px;
	text-align: center;
}
.middle_two>p,.middle_three>p{
	text-align: center;
	color: #666;
	font-size: 13px;
}
.middletwo_bottom,.middlethree_bottom{
	position: absolute;bottom: 0;
	left: 0;
	width: 860px;
	height: 58px;
	background: #EEEEEE;
	border-radius: 0 0 14px 14px;
}
.middletwo_bottom>p,.middlethree_bottom>p{
	width: 110px;
	height: 40px;
	background: #08C1FF;
	color: #fff;
	text-align: center;
	line-height: 40px;
	margin: auto;
	margin-top: 9px;
	font-size: 14px;
	cursor: pointer;
}
/* 财务管理 => 交易查询 => 遮罩 End */